html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
  /* Garante que padding não adicione largura extra */
}

a {
  text-decoration: none;
}

.section-heading {
  text-align: center;

}

.leFadeIn span {
  animation-name: leFadeIn
}

@keyframes leFadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* Buttons */
.container-button {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background: #007bff;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;

}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}

.whatsapp-button {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #25D366;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  animation: pulse 1.5s infinite;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #ffffff;
  color: #25D366;
}

.whatsapp-button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}


/* Header - mantém o estilo original até 830px */
.main-header {
  background-color: rgba(22, 34, 57, 0.95);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.main-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

.main-menu li a::after {
  content: '';
  border-bottom: 3px double rgb(214, 207, 113);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 1;
  transition: .2s linear;
}

.main-menu li a:hover::after {
  visibility: visible;
  opacity: 0.7;
  width: 90%;
}

.main-menu li a:hover {
  letter-spacing: 2px;
}

.logo {
  margin-left: 4rem;
}

/* Estilos para o menu hamburger */
.menu-link {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  margin-right: 2rem;
}

.menu-link span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  /* Mudei para branco para combinar com o header */
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

/* Slider */

.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: rgba(22, 34, 57, 0.85);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}

.main-banner .caption {
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.main-banner .caption h6 {
  position: relative;
  top: 3.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: #ffd700;
  font-weight: bolder;
}

/* Features */

section.features .col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.features-post {
  position: relative;
  margin-bottom: 0px;
}

.features-thumb {
  overflow: hidden;
  position: relative;
}

.features-thumb img {
  width: 100%;
}

.features-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0c1228;
  color: #fff;
  padding: 40px;
}

.features-content:hover {
  background-color: #ffd700;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.features-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.features-content h4 i {
  margin-right: 15px;
  font-size: 24px;
}

.features-content p {
  margin-bottom: 0px;
}

.features-content a {
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #fff;
}

.features-content p.hidden-sm {
  display: none;
}

.second-features,
.third-features {
  border-left: 1px solid rgba(250, 250, 250, 0.1);
}

.content-hide {
  margin-top: 15px;
  display: none;
}

.content-hide p {
  color: #fff;
}


/* Why Choosing Us */
section.why-us {
  background-image: url(../images/choosing-bg.jpg);
  background-color: #172238;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.section-heading h2 {
  font-size: 3rem;
  color: #ffd700;
}

#tabs {
  text-align: center;
  font-size: 20px;
}

#tabs ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

#tabs h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffd700;
  margin-bottom: 30px;
}

#tabs p {
  color: #fff;
  font-size: 20px;
}

#tabs ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding-bottom: 40px;
}

#tabs ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  position: relative;
  background-color: transparent;
  transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
  text-decoration: none;
}

#tabs ul li a::after {
  content: '';
  border-bottom: 3px double rgb(214, 207, 113);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 1;
  transition: .2s linear;
}

#tabs ul li a:hover::after {
  visibility: visible;
  opacity: 0.7;
  width: 90%;
}

#tabs ul li a:hover {
  letter-spacing: 2px;
  opacity: 1;
}

.tabs-content {
  position: relative;
  height: auto;
  /* Ajusta altura automaticamente */
}

.tabs-content article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.tabs-content article.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

/* Coming Soon */

section.coming-soon {
  background-image: url(../images/obj-img_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-top: 7rem;
  padding-bottom: 12rem;
  color: #ffffff;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

/* Courses */

section.courses {
  background-image: url(../images/choosing-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-top: 7rem;
  padding-bottom: 12rem;
}

section.courses .item img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

section.courses .item .down-content {
  padding: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 10px;
}

section.courses .item .down-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Video */

section.video {
  background-image: url(../images/obj-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-top: 10rem;
  padding-bottom: 17rem;
}

section.video .left-content {
  color: #ffffff;
  margin-top: 5rem;
  font-size: 1.8rem;
}

section.video .left-content span {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

section.video .left-content h4 {
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 20px;
}

section.video .left-content h4 em {
  font-style: normal;
  color: #ffd700;
}

.video-item {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto 0;
  top: 3rem;
}

.video-item figure a:before {
  content: '';
  position: absolute;
  top: 29.3rem;
  right: 15px;
  width: 60px;
  height: 60px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  border-radius: 50%;
  background-color: #ffd700;
  z-index: 10;
}

.video-item figure a:after {
  content: '';
  position: absolute;
  top: 28.3rem;
  right: 20px;
  margin-left: -7px;
  border: solid 13px transparent;
  border-left: solid 20px;
  border-left-color: #fff;
  z-index: 10;
}

.video-item .video-caption {
  position: absolute;
  z-index: 10;
  background-color: rgba(250, 250, 250, 0.75);
  height: 70px;
  width: 570px;
  padding: 27px 30px;
  top: 27rem;
}

.video-item .video-caption h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
  bottom: 2rem;
}

/* Contact */

section.contact {
  background-image: url(../images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding-top: 7rem;
  padding-bottom: 12rem;
}

.colorful-form {
  max-width: 400px;
  height:
    450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

textarea.form-input {
  height: 140px;
}

.form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffd700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #debd00;
}

/* Footer */

footer {
  background-color: #152036;
  text-align: center;
  color: #ffffff;
}

.contact-info h3,
.policies h3 {
  font-size: 18px;

}

.contact-info p,
.policies ul {
  font-size: 14px;
  line-height: 1.6;
}

.social-media a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.policies ul {
  list-style-type: none;
  padding: 0;
}

.policies li {
  margin-bottom: 5px;
}

.policies a {
  text-decoration: none;
  color: #007bff;
}

.policies a:hover,
.social-media a:hover {
  text-decoration: underline;
}

.dropdown-btn {
  display: none;
}

/* Media Queries Avançadas e Otimizadas */

/* Breakpoint Extra Large */
@media (max-width: 1470px) {
  .main-banner .caption h2 {
    font-size: 5rem;
  }
}

@media (max-width: 1229px) {
  .main-banner .caption h2 {
    font-size: 4rem;
  }
}

/* Breakpoint Large */
@media (max-width: 1024px) {


  .main-header .logo {
    position: relative;
    right: 3rem;
  }

  section.why-us {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-heading h2 {
    font-size: 2.5rem;
  }

  #tabs ul li a {
    font-size: 15px;
  }

  #tabs h4 {
    font-size: 28px;
    position: relative;
    left: 2rem;
  }

  #tabs p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    left: 2rem;

  }

  .col-md-6 img {
    width: 500px;
    position: relative;
    top: 2rem;
  }

  #tabs ul li {
    margin: 0 10px;
  }

  #tabs ul li a::after {
    content: '';
    border-bottom: 3px double rgb(214, 207, 113);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }

  #tabs ul li a:hover::after {
    visibility: visible;
    width: 100%;
  }

  #tabs ul li a:hover {
    color: rgb(214, 207, 113);
  }

  /* Buttons */
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .whatsapp-button {
    width: 140px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    position: relative;
    left: 2.5rem;
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }

  section.video {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  section.video .left-content {
    margin-right: 0px;
    font-size: 1.5rem;
  }

  .video-item {
    position: relative;
    width: 80%;
    max-width: 600px;
    top: -1rem;
    right: 4.5rem;
  }

  .video-item figure a:before {
    content: '';
    position: absolute;
    top: 31.8rem;
    width: 60px;
    height: 60px;
    left: 26rem;
  }

  .video-item figure a:after {
    content: '';
    position: absolute;
    top: 30.8rem;
    left: 25.8rem;
  }

  .video-item .video-caption {
    position: relative;
    top: 29.3rem;
    width: 500px;
  }

  section.video {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.contact {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 30px;
  }

  #map iframe {
    height: 450px;
    width: 530px;
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .contact-info h3,
  .policies h3 {
    font-size: 1.2rem;
  }

  .contact-info p,
  .policies ul li {
    font-size: 0.9rem;
  }

  .social-media a {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {


  .main-header .logo {
    position: relative;
    right: 3rem;
  }

  section.why-us {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section-heading h2 {
    font-size: 2.5rem;
  }

  #tabs ul li a {
    font-size: 15px;
  }

  #tabs h4 {
    font-size: 28px;
    position: relative;
    left: 2rem;
  }

  #tabs p {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    left: 2rem;

  }

  .col-md-6 img {
    width: 500px;
    position: relative;
    top: 2rem;
  }

  #tabs ul li {
    margin: 0 10px;
  }

  #tabs ul li a::after {
    content: '';
    border-bottom: 3px double rgb(214, 207, 113);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }

  #tabs ul li a:hover::after {
    visibility: visible;
    width: 100%;
  }

  #tabs ul li a:hover {
    color: rgb(214, 207, 113);
  }

  /* Buttons */
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }

  .whatsapp-button {
    width: 140px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    position: relative;
    left: 2.5rem;
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }

  section.video {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  section.video .left-content {
    margin-right: 0px;
    font-size: 1.5rem;
  }

  .video-item {
    position: relative;
    width: 80%;
    max-width: 600px;
    top: -1rem;
    right: 4.5rem;
  }

  .video-item figure a:before {
    content: '';
    position: absolute;
    top: 31.8rem;
    width: 60px;
    height: 60px;
    left: 26rem;
  }

  .video-item figure a:after {
    content: '';
    position: absolute;
    top: 30.8rem;
    left: 25.8rem;
  }

  .video-item .video-caption {
    position: relative;
    top: 29.3rem;
    width: 500px;
  }

  section.video {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.contact {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 30px;
  }

  #map iframe {
    height: 450px;
    width: 530px;
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .contact-info h3,
  .policies h3 {
    font-size: 1.2rem;
  }

  .contact-info p,
  .policies ul li {
    font-size: 0.9rem;
  }

  .social-media a {
    font-size: 1.2rem;
  }
}

@media (max-width: 830px) {
  .main-header {
    height: 120px;
    padding: 30px;
  }

  .header-text .caption h6 {
    font-size: 1.5rem;
    text-align: center;
  }

  .header-text .caption h2 {
    font-size: 3rem;
    text-align: center;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav {
    display: none;
  }

  .menu-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #menu {
    display: none;
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: rgba(22, 34, 57, 0.4);
    z-index: 11;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
  }

  #menu.menu-open {
    display: block;
  }

  #menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  #menu li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  #menu li a {
    padding: 15px 0;
    font-size: 16px;
  }

  .tabs-content .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tabs-content .row .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tabs-content .row .col-md-6 img {
    max-width: 200%;
    height: auto;
    position: relative;
    top: 0;
    left: 0
  }

  #tabs {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #tabs ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #tabs ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    color: #fff;
    text-decoration: none;
  }

  #tabs h4 {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    top: 0;
    left: 0;
  }

  #tabs p {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    font-size: 24px;
  }

  #tabs ul li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #tabs ul li a::after {
    content: '';
    border-bottom: 3px double rgb(214, 207, 113);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }

  #tabs ul li a:hover::after {
    visibility: visible;
    width: 100%;
  }

  #tabs ul li a:hover {
    color: #D6CF71;
  }

  #tabs ul li a.active::after {
    visibility: visible;
    width: 100%;
  }

  .dropdown-btn {
    display: block;
    background-color: #16224A;
    color: #ffffff;
    padding: 12px 24px;
    font-size: 16px;
    border: 2px solid #D6CF71;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdown-btn:hover {
    background-color: #D6CF71;
    color: #16224A;
    transform: translate(-50%, -50%) scale(1.05);
  }

  .dropdown-content {
    display: none;
    background-color: rgba(22, 34, 57, 0.9);
    border-radius: 8px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .dropdown-content li {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(214, 207, 113, 0.2);
    transition: background-color 0.3s ease;
  }

  .dropdown-content li:last-child {
    border-bottom: none;
  }

  .dropdown-content li:hover {
    background-color: rgba(214, 207, 113, 0.2);
  }

  .dropdown-content li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
  }

  .section-heading h2 {
    font-size: 36px;
    text-align: center;
    position: relative;
    bottom: 3rem;
  }

  .section-heading p {
    font-size: 20px;
    text-align: center;
  }

  .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .whatsapp-button {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-radius: 25px;
    background-color: #25D366;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.5);
    transition: box-shadow 0.3s ease;
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .whatsapp-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }

  .coming-soon {
    padding: 100px 0;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  section.video {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
 

  section.courses {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.contact {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 30px;
    text-align: center;
  }

  #map iframe {
    height: 450px;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .contact-info h3,
  .policies h3 {
    font-size: 1.2rem;
  }

  .contact-info p,
  .policies ul li {
    font-size: 0.9rem;
  }

  .social-media a {
    font-size: 1.2rem;
  }

  .menu-open .menu-link span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-open .menu-link span:nth-child(2) {
    opacity: 0;
  }

  .menu-open .menu-link span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}


/* Breakpoint Small */
@media (max-width: 767px) {

  /* Títulos e textos */
  .main-banner .caption h2 {
    font-size: 28px;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* Elementos visuais */
  .swiper {
    width: 90%;
    height: 300px;
  }

  /* Tabs */
  #tabs ul {
    flex-direction: column;
  }

  #tabs ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  /* Imagens */
  .tabs-content img,
  img {
    max-width: 100%;
    height: auto;
  }

  /* Vídeo */
  .video-item {
    max-width: 100%;
  }

  /* Rodapé */
  footer .row {
    flex-direction: column;
  }

  footer .col-md-6 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Breakpoint Extra Small */
@media (max-width: 480px) {
  .main-banner .caption h6 {
    font-size: 1rem;
  }

  .main-banner .caption h2 {
    font-size: 24px;
  }

  .section-heading h2 {
    font-size: 1.3rem;
  }

  /* Botões */
  .cta {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  /* Ajustes finos para dispositivos muito pequenos */
  .container {
    padding: 0 10px;
  }
}